@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

@mixin h1Text {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

@mixin h2Text {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

@mixin h3Text {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

@mixin h4Text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

@mixin bodyText {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
