$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #5870F2;
$color-light-red: rgba(255, 82, 82, 0.98);;
$color-gray: #C4C4C4;
$color-deep-dark-gray: rgba(77, 71, 71, 0.98);;
$color-light-black: #363232;
$header-height: 100px;


